body{

    background-color: lavender;
}

p {
    font-family: monospace;
    text-align: center;
    color: lightsalmon;

}

h1,h2,h3,h4,h5,h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    font-style: italic;
    text-align: right;
}