body{

    background-color: lavender;
}

p {
    font-family: monospace;
    text-align: center;
    color: palevioletred;
    font-size: 20px;

}

h1,h2,h3,h4,h5,h6 {
    font-family: monospace;
    color: blueviolet;
    font-size: 20px;
    font-style: italic;
    text-align: right;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    color: black;
    font-style: normal;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: black;
    font-style: normal;
    text-align: center;
    
}

.special{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

li {
    color:purple;
    font-size: 20px;
    font-weight: bold;
}

.fave {
    color: orangered;
}

.pizza{
    width: 30%;
}

a {
    color:brown
}


/*cake page*/

.cake-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: brown;
    font-size: 25px;
    font-weight: bold;

}

.section-one {
    background-color: plum;
}

.caption {
font-size: 15px;
font-style: italic;
text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cake-item {
    width: 275px;
    height: 275px;
    padding: 4px;
}
.cake-group {
    width: 275px;
}